.faderIn {
    @include animation(faderIn 1s);
}
.faderOut {
    @include animation(faderIn 1s);
}
.moveToLeft {
    @include animation(moveToLeft .5s ease);
}
.moveFromLeft {
    @include animation(moveFromLeft .5s ease);
}

.moveToRight {
    @include animation(moveToRight .5s ease);
}
.moveFromRight {
    @include animation(moveFromRight .5s ease);
}

.moveToTop {
    @include animation(moveToTop .5s ease);
}
.moveFromTop {
    @include animation(moveFromTop .5s ease);
}

.moveToBottom {
    @include animation(moveToBottom .5s ease);
}
.moveFromBottom {
    @include animation(moveFromBottom .5s ease);
}

.moveToLeftFade {
    @include animation(moveToLeftFade .7s ease);
}
.moveFromLeftFade {
    @include animation(moveFromLeftFade .7s ease);
}
.moveToRightFade {
    @include animation(moveToRightFade .7s ease);
}
.moveFromRightFade {
    @include animation(moveFromRightFade .7s ease);
}
.moveToTopFade {
    @include animation(moveToTopFade .7s ease);
}
.moveFromTopFade {
    @include animation(moveFromTopFade .7s ease);
}
.moveToBottomFade {
    @include animation(moveToBottomFade .7s ease);
}
.moveFromBottomFade {
    @include animation(moveFromBottomFade .7s ease);
}

/* move to with different easing */
.moveToLeftEasing {
    @include animation(moveToLeftEasing .7s ease-in-out);
}
.moveToRightEasing {
    @include animation(moveToRightEasing .7s ease-in-out);
}
.moveToTopEasing {
    @include animation(moveToTopEasing .7s ease-in-out);
}
.moveToBottomEasing {
    @include animation(moveToTopEasing .7s ease-in-out);
}

@include keyframes(moveToLeft) {
    to {
        @include transform(translate3d(-100%, 0,  0));
    }
}
@include keyframes(moveFromLeft) {
    from {
        @include transform(translate3d(-100%, 0,  0));
    }
}
@include keyframes(moveToRight) {
    to {
        @include transform(translate3d(100%, 0,  0));
    }
}
@include keyframes(moveFromRight) {
    from {
        @include transform(translate3d(100%, 0,  0));
    }
}
@include keyframes(moveToTop) {
    to {
        @include transform(translate3d(0, -100%,  0));
    }
}
@include keyframes(moveFromTop) {
    from {
        @include transform(translate3d(0, -100%,  0));
    }
}
@include keyframes(moveToBottom) {
    to {
        @include transform(translate3d(0, 100%,  0));
    }
}
@include keyframes(moveFromBottom) {
    from {
        @include transform(translate3d(0, 100%,  0));
    }
}


@include keyframes(faderIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@include keyframes(faderOut) {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@include keyframes(moveToLeftFade) {
    to {
        opacity: 0.3;
        @include transform(translate3d(-100%, 0,  0));
    }
}
@include keyframes(moveFromLeftFade) {
    from {
        opacity: 0.3;
        @include transform(translate3d(-100%, 0,  0));
    }
}
@include keyframes(moveToRightFade) {
    to {
        opacity: 0.3;
        @include transform(translate3d(100%, 0,  0));
    }
}
@include keyframes(moveFromRightFade) {
    from {
        opacity: 0.3;
        @include transform(translate3d(100%, 0,  0));
    }
}
@include keyframes(moveToTopFade) {
    to {
        opacity: 0.3;
        @include transform(translate3d(0, -100%,  0));
    }
}
@include keyframes(moveFromTopFade) {
    from {
        opacity: 0.3;
        @include transform(translate3d(0, -100%,  0));
    }
}
@include keyframes(moveToBottomFade) {
    to {
        opacity: 0.3;
        @include transform(translate3d(0, 100%,  0));
    }
}
@include keyframes(moveFromBottomFade) {
    from {
        opacity: 0.3;
        @include transform(translate3d(0, 100%,  0));
    }
}


@include keyframes(scaleDown) {
    to {
        opacity: 0;
        @include transform(scale3d(.8,.8,1));
    }
}
@include keyframes(scaleUp) {
    from {
        opacity: 0;
        @include transform(scale3d(.8,.8,1));
    }
}
@include keyframes(scaleUpDown) {
    from {
        opacity: 0;
        @include transform(scale3d(1.2,1.2,1));
    }
}
@include keyframes(scaleDownUp) {
    to {
        opacity: 0;
        @include transform(scale3d(1.2,1.2,1));
    }
}
@include keyframes(scaleDownCenter) {
    to {
        opacity: 0;
        @include transform(scale3d(.7,.7,1));
    }
}
@include keyframes(scaleUpCenter) {
    from {
        opacity: 0;
        @include transform(scale3d(.7,.7,1));
    }
}
