@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin rotate($angle) {
	-moz-transform: rotate($angle); /* FF3.5+ */
	-o-transform: rotate($angle); /* Opera 10.5 */
	-webkit-transform: rotate($angle); /* Saf3.1+, Chrome */
	-ms-transform: rotate($angle); /* IE9 */
	transform: rotate($angle);
}